* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: content-box;
    color: rgb(14, 236, 236);
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
    background-blend-mode: color-burn;
    
}


#page_one{
    background: linear-gradient(#43A047,#1E88E5,#424242 );
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    height: auto;
}

#page_one h3{
    text-align: center;
    color: #FFB300;
    font-size: 60px;    
}
#page_one ol{
    font-size: 30px;
}
#page_one li{
    font-size: 15px;
}
#poem{
    background-image: url(assets/hands.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    height: 100vh;
}
#poem h1{
    font-size: 60px;
    font-style:italic;
    text-align: center;

}
#poem p{
    color: bisque;
    text-align: right;
}
@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
    }
    body{
        background-image: url('assets/hands.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    html{
        scroll-snap-type: proximity;
    }
    #page_one{
        padding: 10px 10%;
    }
    #page_one h3{
        text-align: center;
        font-style:italic;
        color: #00897B   ;
        font-size: 30px;
    }
    #page_one ol li{
        color: cyan;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
    #poem{
        font-family: 'Arial', sans-serif;
        background-color: transparent;
        color: cyan;
        line-height: 1;
    }
    #poem h1{
        font-size: 30px;
        padding-bottom: 10px;
        font-style: italic;
        text-align: center;
        color: #00897B;
        text-align: center;

    }
    #poem p{
        text-align: center;
        color:#FAFAFA  ;
        justify-content: center;
        display: flex;
        align-items: center;
        /* height: 100vh; */
    }
    #spotify-player{
        position:relative;
        background-position: center;
        padding:10px 10% ;
    }
}
